@model Working_with_models.Models.Employee

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Employee</h4>
<h9>* fields are mandatory</h9>
    
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eid" class="control-label"></label>
                <input asp-for="eid" class="form-control" />
                <span asp-validation-for="eid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="landmark" class="control-label"></label>
                <input asp-for="landmark" class="form-control" />
                <span asp-validation-for="landmark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pincode" class="control-label"></label>
                <input asp-for="pincode" class="form-control" />
                <span asp-validation-for="pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
